<mat-toolbar color="primary">
	Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
	<mat-vertical-stepper appMatStepperScrollTop #stepper>
	    <!-- Define the edit icon, by default is 'create' -->
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>

    <!-- Define the number of the step -->                  
    <ng-template matStepperIcon="number" let-index="index">
    {{index+2}}
    </ng-template>
		<mat-step  label="Step 0">
		</mat-step>
		<mat-step  label="Step 1">

			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<button mat-button matStepperNext>Next</button>
		</mat-step>
		<mat-step>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
		</mat-step>
	</mat-vertical-stepper>
	<span class="version-info">Current build: {{version.full}}</span>
</div>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->