<mat-toolbar color="primary">
	Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
	<mat-vertical-stepper appMatStepperScrollTop #stepper>
		<mat-step label="Step 1">
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<h1>step1</h1>
			<button mat-button matStepperNext>Next</button>
		</mat-step>
		<mat-step label="Step 2">
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
			<h1>step2</h1>
		</mat-step>
		<mat-step label="Step 0">
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
      <h1>Step 0</h1>
		</mat-step>
	</mat-vertical-stepper>
	<span class="version-info">Current build: {{version.full}}</span>
</div>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->